.devcontainer/
.vscode/
.venv/
.cursor/
CLAUDE.md
./common/managers/

bin
build
build_aarch64
build-basic
build-release
build-realman
build-cross-aarch64
CMakeFiles
CMakeCache.txt
logging
**/build/
**/install/
**/log/
**/devel/
*.autosave
*.csv
*.asv
*.wbproj
.*.jpg
**/libmotion.so
webots/controllers/webotsCore/webotsCore
worlds/.*.wbproj
.DS_Store
lcmSubscriber
lcm-log2smat/
MUJOCO_LOG.TXT
gcodefiles/
**/libutility.so
*.dylib
*.a
html
latex
.cache
compile_commands.json
mujoco/simulate/
mujoco/model/
mujoco/sample/
mujoco/release/
*.egg-info/

/lerobot/
__pycache__/
*.pyc
deps_build/
lerobot-egg.info/
MJMODEL.TXT
MJDATA.TXT
CLAUDE.md
claude/
package-lock.json
